<h1>Login</h1>

<form action="/session" method="POST">
  <%= auth_token %>
  <label for="user_email">Email</label><br>
  <input type="text" name="user[email]" id="user_email" />
  <br>

  <label for="user_password">Password</label><br>
  <input type="password" name="user[password]" id="user_password" />
  <br>

  <input type="submit" value="Login" %/>
</form>