<form action="/notes" method="POST">
  <input type="hidden"
         name="_method"
         value="post">
  <%= auth_token %>
  <input type="hidden" 
         name="note[track_id]" 
         value="<%= track.id %>">
  <label for="note_body"><strong>Add Note</strong></label><br>
  <textarea name="note[body]"></textarea><br>
  <br>
  <input type="submit" value="Submit">
</form>