<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Jenius...</h1>
    <p>
      Why did you do this?<br>
    </p>
    <p>
      To login to the site, just follow this link: <%= @login %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
    <p>Best,</p>
    <p>Taco from Taco Corp</p>
  </body>
</html>